@import "~normalize.css/normalize.css";

html {
    font-size: 10px;
}

body{
    padding: 2rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    gap: 1rem;
    display: flex;
}
